@import "tailwindcss";

@theme {
  --color-slateblue: #2c44ca;
  --color-darkslateblue: #2d4aa2;

  --font-inter: "Inter", sans-serif;
  --font-sf-pro: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  @apply leading-normal m-0;
}

@layer base {
  *,
  *::before,
  *::after {
    border-width: 0;
  }
}